MAINICON         ICON            "..\\..\\bin_support\\icons\\WMW-Midnight.ico"
IDI_ICON1        ICON            "..\\..\\bin_support\\icons\\WMW-Midnight.ico"
IDI_ICON2        ICON            "..\\..\\bin_support\\icons\\chrFile.ico"
ICON3            RCDATA          "..\\..\\bin_support\\icons\\WMW-Midnight-26-256x256.png"
ABOUTICON        RCDATA          "..\\..\\bin_support\\icons\\wmv.xpm"
SPLASH           RCDATA          "..\\..\\bin_support\\Splash\\Splash-006-Midnight.png"
SPLASH2          RCDATA          "..\\..\\bin_support\\Splash\\Splash-006-Midnight.png"